<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailView</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body style="text-align:center">
    <h1 style="font-size:35px;"> Quora POST</h1>
    <div class="outer">
    <div class="section">
        <p class="user_name" style="margin-left: 10px;">@<%=post.username%></p>
        <p><%=post.content%></p>
        <button><a href="http://localhost:3000/posts">Back</a></button>
    </div>
    
</div>
</body>
</html>